@CHARSET "UTF-8";


/* @font-face{font-family:'Nanum Gothic'; src:url('../fonts/NanumBarunGothicLight.otf')} */

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color : #363e3b; 
	overflow: hidden;
	/* font-family: Nanum Gothic; */  
}

.title{
}


.mainTable, .mainTable2{
	width: 97%;
}
.tr1, .tr2, .layoutTd, #lastCell{
	background-color:rgb(50,50,50);
	text-align: center; 
	color : white;
}


#menu_btn{
	position: absolute;
	cursor: pointer;
	z-index: 999999;
}
 
.page{
	position: absolute;
	width: 100%;
}

#status3_1, #status3_2{
	width: 100%;
}

.label{
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.date{
	height: 30px;
	font-size: 15px;
}





.unSelected_menu{
	background-color :gray;
	color : white
}

.selected_menu{
	background-color :rgb(33,128,250);
	color : white
}

.menu:HOVER{
	background-color: white;
	color: gray;
}
